<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameley.mapper.OperatelogDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.wwmxd.entity.Operatelog">
		            <result property="id" column="id"/>
		            <result property="username" column="username"/>
		            <result property="modifydate" column="modifydate"/>
		            <result property="modifyname" column="modifyname"/>
		            <result property="modifyobject" column="modifyobject"/>
		            <result property="modifycontent" column="modifycontent"/>
					<result property="modifyip" column="modifyip"/>
			</resultMap>


</mapper>
